/Library
/.vs
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/HeadBangGirls.csproj
/HeadBangGirls.sln
/HeadBangGirls.userprefs
/HeadBangGirls-csharp.sln
/Assets/PlayLog
/RockBand.csproj
/RockBand.sln
/Temp
/songInfoPlane.csv
/Assets/PlayLog.meta
